{% extends 'junta_vecinos/base.html' %}

{% block title %}Detalle de la Actividad{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        {% if actividad.imagen %}
            <img src="{{ actividad.imagen.url }}" class="card-img-top" alt="{{ actividad.titulo }}">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ actividad.titulo }}</h2>
            <p class="card-text"><strong>Descripción:</strong> {{ actividad.descripcion }}</p>
            <p class="card-text"><strong>Fecha:</strong> {{ actividad.fecha }}</p>
            <p class="card-text"><strong>Hora de Inicio:</strong> {{ actividad.hora_inicio }}</p>
            <p class="card-text"><strong>Hora de Fin:</strong> {{ actividad.hora_fin }}</p>
            <p class="card-text"><strong>Lugar:</strong> {{ actividad.lugar }}</p>
            <p class="card-text"><strong>Precio:</strong> ${{ actividad.precio }}</p>
            <p class="card-text"><strong>Cupos Disponibles:</strong> {{ actividad.espacios_disponibles }}</p>
        </div>
    </div>
</div>
{% endblock %}
