{% extends 'junta_vecinos/base.html' %}

{% block title %}Registro de Vecinos{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>¡Reserva Exitosa!</h1>
        <div class="alert alert-success" role="alert">
            <p>Gracias, {{ reserva.usuario.username }}. Tu reserva para el espacio <strong>{{ reserva.espacio.nombre }}</strong> el <strong>{{ reserva.fecha }}</strong> de <strong>{{ reserva.hora_inicio }}</strong> a <strong>{{ reserva.hora_fin }}</strong> ha sido realizada con éxito.</p>
            <p>Monto pagado: <strong>${{ reserva.monto_pagado }}</strong></p>
        </div>
        <a href="{% url 'index' %}">Volver a la página principal</a>
    </div>
{% endblock %}
