{% extends 'junta_vecinos/base.html' %}

{% block title %}Postular Proyecto Vecinal{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Postular Proyecto Vecinal</h2>
    
    <!-- Aquí mostramos los errores del formulario -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <!-- Formulario para postular un proyecto vecinal -->
    <form method="post" action="{% url 'postular_proyecto' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar Postulación</button>
    </form>
</div>
{% endblock %}
