{% extends 'junta_vecinos/base.html' %}

{% block title %}Registro de Vecinos{% endblock %}

{% block content %}
    <div class="container">
        <h1>¡Reserva Exitosa!</h1>
        <p>Gracias, {{ reserva.usuario.username }}. Tu reserva para el espacio <strong>{{ reserva.espacio.nombre }}</strong> el <strong>{{ reserva.fecha }}</strong> de <strong>{{ reserva.hora_inicio }}</strong> a <strong>{{ reserva.hora_fin }}</strong> ha sido realizada con éxito.</p>
        <p>Monto pagado: <strong>${{ reserva.monto_pagado }}</strong></p>
        <a href="{% url 'index' %}">Volver a la página principal</a>
    </div>
{% endblock %}
